unpack/FASBInvoiceTracking/Workflows/DocumentProcessingTaskFileProcessor-82A9F26E-1EEA-EE11-A203-6045BD5EFA07.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "citz_sharedcommondataserviceforapps_58f69"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "dce42dce-f992-4338-9f0e-69b7a8855dc3"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "citz_documentprocessingtask",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filterexpression": "statuscode eq 988440001"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "GetFile": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1ffdca00-cedc-4ad6-91d4-02a79954975d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetEntityFileImageFieldContent",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "citz_documentprocessingtasks",
              "recordId": "@triggerOutputs()?['body/activityid']",
              "fileImageFieldName": "citz_filedata"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "InvoiceProcessingModelId": {
          "runAfter": {
            "GetFile": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ec64df33-ea23-4a16-a2f1-4704edf3ea12"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "InvoiceProcessingModelId",
                "type": "string",
                "value": "5ed4d0fd-e9d4-4026-b09b-71f83ea90c60"
              }
            ]
          }
        },
        "Get_Model_Type": {
          "runAfter": {
            "InvoiceProcessingModelId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "46438102-db86-4360-9fd8-4113ec4c7163"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msdyn_aimodels",
              "recordId": "@variables('InvoiceProcessingModelId')",
              "$select": "msdyn_name"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Predict": {
          "runAfter": {
            "Set_Predict_Failed": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6db53427-9b6c-4a52-94b0-e466a6bd0f3b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "PerformBoundAction",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "msdyn_aimodels",
              "actionName": "Microsoft.Dynamics.CRM.Predict",
              "recordId": "@variables('InvoiceProcessingModelId')",
              "item/version": "1.0",
              "item/request": "{\"mimeType\":\"@{triggerOutputs()?['body/citz_mimetype']}\",\"base64Encoded\":\"@{outputs('GetFile')?['body']}\"}"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_a_row": {
          "runAfter": {
            "Predict": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bc120144-aee3-4373-981b-3aa252f24eb6"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "citz_documentprocessingtasks",
              "recordId": "@triggerOutputs()?['body/activityid']",
              "item/statuscode": 988440002
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Extract_information_from_invoices": {
          "runAfter": {
            "Get_Model_Type": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0eb2250f-1461-46ee-972a-43f961654325",
            "flowSystemMetadata": {
              "portalOperationId": "aibuilderpredict_invoiceprocessingpretrained",
              "portalOperationGroup": "aibuilder",
              "portalOperationApiDisplayNameOverride": "AI Builder",
              "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
              "portalOperationBrandColorOverride": "#0A76C4",
              "portalOperationApiTierOverride": "Standard"
            }
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "aibuilderpredict_invoiceprocessingpretrained",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "item/requestv2/base64Encoded": "@body('GetFile')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Set_Predict_Failed": {
          "runAfter": {
            "Extract_information_from_invoices": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "b29c0009-a33c-447c-979e-4ff848599710"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "citz_documentprocessingtasks",
              "recordId": "@triggerOutputs()?['body/activityid']",
              "item/statuscode": 988440006
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "SupplierID_Init": {
          "runAfter": {
            "Extract_information_from_invoices": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "af0d812e-0987-40e8-ab22-6ae5b44ff4ba"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SupplierID",
                "type": "string"
              }
            ]
          }
        },
        "SupplierSiteID_Init": {
          "runAfter": {
            "SupplierID_Init": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "53998db3-c6ad-458f-b1ea-7c71b4048439"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SupplierSiteID",
                "type": "string"
              }
            ]
          }
        },
        "CheckSupplierFound": {
          "actions": {
            "Set_variable": {
              "runAfter": {
                "GetSupplierSite": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8b43a46c-32cf-4895-bebb-1caa7bc80188"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "CheckSupplierSiteCount",
                "value": "@length(outputs('GetSupplierSite')?['body/value'])"
              }
            },
            "CheckSupplierSiteFound": {
              "actions": {
                "Apply_to_each_3": {
                  "foreach": "@outputs('GetSupplierSite')?['body/value']",
                  "actions": {
                    "Set_Existing_SupplierSiteID": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "d5bcf9b1-1bc7-4af5-a2c0-a9babf6261a6"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "SupplierSiteID",
                        "value": "@items('Apply_to_each_3')?['citz_suppliersiteid']"
                      }
                    }
                  },
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "68a4f082-1470-4437-9f31-8f1c57f98708"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Set_variable": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "ExistingSupplierNewSite": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "e645665c-e94e-4d78-bafc-92564d52fa2d"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                      },
                      "parameters": {
                        "entityName": "citz_suppliersites",
                        "item/citz_name": "@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/vendorAddress/valueText']"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Set_New_SupplierSiteD": {
                    "runAfter": {
                      "ExistingSupplierNewSite": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "46279bba-6577-46c6-8eff-c47e378e131a"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "SupplierSiteID",
                      "value": "@outputs('ExistingSupplierNewSite')?['body/citz_suppliersiteid']"
                    }
                  }
                }
              },
              "expression": {
                "greaterOrEquals": [
                  "@variables('CheckSupplierSiteCount')",
                  1
                ]
              },
              "metadata": {
                "operationMetadataId": "807e5689-d90c-493e-9122-9ac57098454a"
              },
              "type": "If"
            },
            "GetSupplierSite": {
              "runAfter": {
                "Apply_to_each": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ce9e30e3-395e-4a10-8117-63067c11c74e"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "citz_suppliersites",
                  "$filter": "citz_name eq '@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/vendorAddress/valueText']}' and _citz_supplier_value eq @{variables('SupplierID')}",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Apply_to_each": {
              "foreach": "@outputs('GetSupplier')?['body/value']",
              "actions": {
                "Set_Found_SupplierID": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "5b0d2cea-fafe-47da-a355-29d4d19d443c"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "SupplierID",
                    "value": "@items('Apply_to_each')?['accountid']"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b879e02d-8a36-435b-9e87-07dd5cc14504"
              },
              "type": "Foreach"
            }
          },
          "runAfter": {
            "CheckSupplierSiteCount_Init": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "NewSupplier": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "f66abf4b-387d-486c-b652-22934f3af779"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "CreateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "accounts",
                    "item/name": "@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/vendorName/valueText']"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Set_SupplierID": {
                "runAfter": {
                  "NewSupplier": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "5b0d2cea-fafe-47da-a355-29d4d19d443c"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "SupplierID",
                  "value": "@outputs('NewSupplier')?['body/accountid']"
                }
              },
              "NewSupplierSite": {
                "runAfter": {
                  "Set_SupplierID": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "d6627a5c-868b-464b-9545-6fc6d324605a"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "CreateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "citz_suppliersites",
                    "item/citz_name": "@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/vendorAddress/valueText']",
                    "item/citz_Supplier@odata.bind": "accounts(@{variables('SupplierID')})"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Set_SupplierSiteID": {
                "runAfter": {
                  "NewSupplierSite": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "60977124-bccf-45f3-9561-6732aa6caf75"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "SupplierSiteID",
                  "value": "@outputs('NewSupplierSite')?['body/citz_suppliersiteid']"
                }
              }
            }
          },
          "expression": {
            "greaterOrEquals": [
              "@variables('CheckSupplierCount')",
              1
            ]
          },
          "metadata": {
            "operationMetadataId": "6367e909-0743-4b1c-aee0-e30f4e793d8f"
          },
          "type": "If"
        },
        "CheckSupplierCount_Init": {
          "runAfter": {
            "GetSupplier": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "afc6e186-e56e-40b0-a64f-1dc92ecccf1c"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CheckSupplierCount",
                "type": "integer",
                "value": "@length(outputs('GetSupplier')?['body/value'])"
              }
            ]
          }
        },
        "GetSupplier": {
          "runAfter": {
            "SupplierSiteID_Init": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "38c19c5e-94e5-411e-9736-2c1c97ecb96b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "accounts",
              "$filter": "name eq '@{outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/vendorName/valueText']}'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "CheckSupplierSiteCount_Init": {
          "runAfter": {
            "CheckSupplierCount_Init": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "582cedd1-d6eb-4934-b79b-c93ec956faae"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CheckSupplierSiteCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "InvoiceRecord": {
          "runAfter": {
            "CheckSupplierFound": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e3eae19b-51bc-4a34-a905-b117eddf408a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "citz_invoicerecordses",
              "item/citz_invoicenumber": "@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceId/valueText']",
              "item/citz_invoiceamount": "@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/fields/invoiceTotal/valueNumber']",
              "item/citz_Supplier@odata.bind": "accounts(@{variables('SupplierID')})",
              "item/citz_SupplierSite@odata.bind": "citz_suppliersites(@{variables('SupplierSiteID')})"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each_2": {
          "foreach": "@outputs('Extract_information_from_invoices')?['body/responsev2/predictionOutput/result/items']",
          "actions": {
            "Add_a_new_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ae39fcde-30e2-452e-9108-6071b5b40ea8"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "citz_invoiceitemses",
                  "item/citz_number": "@items('Apply_to_each_2')?['fields/description/valueText']",
                  "item/citz_gstamount": "@items('Apply_to_each_2')?['fields/tax/valueNumber']",
                  "item/citz_Invoice@odata.bind": "citz_invoicerecordses(@{outputs('InvoiceRecord')?['body/citz_invoicerecordsid']})",
                  "item/citz_pretaxamount": "@items('Apply_to_each_2')?['fields/amount/valueNumber']"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "InvoiceRecord": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "11b674f4-5e31-4993-ad76-5546a18a0fad"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}